/* responsive for tab device */
@media screen and (min-width:425px) and (max-width:768px) {
    .nav-container{
        flex-direction: column;
        margin: 10px auto;
    }
    .nav-list{
        margin: 20px 0px;
    }
    .goat{
        margin-top: 90px;
    }
    .goat-para{
        padding-left: 56px;
    }
    .game{
        margin-top: 100px;
    }
    .online-game{
        grid-template-columns: repeat(2,1fr);
    }
    .online-game-para{
        margin-left: 25px;
    }
    .play-image{
        margin-top: 30px;
    }
    .back-image{
        width: 304.833px;
        height: 320px;
    }
    .font-image{
        width: 133.5px;
        height: 180.083px;
        right: 100px;
        top: -135px;
    }
    .list{
        grid-template-columns: repeat(3,1fr);
    }
    .list-two{
        grid-template-columns: repeat(3,1fr);
        gap: 5px;
        margin: 0px 20px;
    }
    footer{
        margin-top: 150px;
        height: 80vh;
    }
    .footer-head{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;
        font-weight: 500;
        padding-top: 10px;
        margin-left: 10px;
    }
    .support{
        grid-template-columns: repeat(3,1fr);
    }
    .footer-icon{
        margin-top: 40px;
    }
    .policy{
        margin-top: 30px;
    }
    #youtube{
        right: 200px;
    }
}
/* responsive for mobile */
@media screen and (max-width:425px) {

    .nav-container{
        flex-direction: column;
        margin: 10px auto;
    }
    .nav-list{
        width: 100%;
        flex-direction: column;
    }
    .nav-icon{
        width: 100%;
        flex-direction: column;
    } 
    .goat-text{
        width: 100%;
        padding: 20px 0px;
    }
    .goat-image{
        width: 100%;
       text-align: center;
    }
    .goat{
       flex-direction: column;
       margin-top: 270px;
    }
    .goat-image img{
        width: 90%;
        margin-top: 10px;
    }
    .online-game{
        grid-template-columns: repeat(1,1fr);
    }
    .online-game-para{
        margin-left: 60px;
    }
    .game{
        margin-top: 300px;
    }
    .play-instant{
       flex-direction: column;
       /* margin: 10px auto; */

    }
    .play-text{
        width: 100%;
    }
    .play-image{
        margin-top: 10px;
        width: 100%;
    }
    .back-image{
        width: 284.833px;
        height: 300px;
    }
    .font-image{
        width: 123.5px;
        height: 170.083px;
        right: 133px;
        top: -92px;
    }
    .game-list{
        width: 100vw;
    }
    .list{
        margin-top: 0;
        grid-template-columns: repeat(3,1fr);
        /* grid-area: auto; */
        /* row-gap: 10px; */
    }
    .single-list{
        width: 120px;
        height: 30px;
        padding: 5px;
    }
    .single-list img{
        width: 35px;
        height: 35px;
    }
    .game-name{
        font-size: 0.8rem;
        font-weight: 400;
    }
    footer{
        height: 120vh;
    }
    .support{
        grid-template-columns: repeat(3,1fr);
        row-gap: 10px;
        gap: 8px;
    }
    .support li a{
        font-size: 0.8rem;
        font-weight: 400;
    }
    .footer-icon{
        text-align: center;
        margin-top: 40px;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .policy{
        text-align: center;
        margin-top: 120px;
        grid-template-columns: repeat(2,1fr);
    }
    .copy-right-para{
       padding: 40px;
    }
    .copy-right{
        margin-top: 10px;
    }
    #youtube{
        bottom: 26px;
        right: 121px;
    }
}